@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.cdnfonts.com/css/century-gothic?styles=24895,24896"); */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Raleway:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Questrial&family=Urbanist&display=swap");

@font-face {
  font-family: "gothic";
  src: local("gothic"), url("./font/gothic.woff") format("woff"),
    url("./font/gothic.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gold: #fafd4e;
  --wood: #deb886;
  --grey: #393e46;
  --white: #fff;
  --bg-main: #383e42;
  --bg-footer: #232729;
  /* --bg-main: #fefbf3; */
  /* --navbar: #79b4b7; */
  --container-width: 1000px;
}

body {
  color: var(--white);
  background: linear-gradient(to right, #bdc3c7, #2c3e50, #bdc3c7);
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: var(--container-width);
}

.App {
  background-color: var(--bg-main);
  min-height: 100vh;
}

/* navbar */
.navbar {
  background-color: var(--wood);
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 5;
}

ul a {
  position: relative;
  transition: all 0.35s ease-out;
}

ul a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background: var(--grey);
  transition: all 0.35s ease-out;
}

.active {
  color: var(--grey);
}

.active::before {
  width: calc(100% - 13px);
  left: 7px;
}

/* landing */
.brand-title {
  color: black;
  filter: drop-shadow(0px 2px 4px var(--gold));
  text-shadow: 0 2px 4px var(--white);
}

.landing-page {
  min-height: 100vh;
}

.landing-page h1 {
  font-family: "gothic", "Urbanist", "Mulish", "Questrial", sans-serif;
}

.landing-page h3 {
  font-family: "Ephesis", cursive;
}

.line-1 {
  border-left: 12px solid var(--wood);
  height: 100%;
}

.line-2 {
  border-left: 6px solid var(--wood);
  height: 100%;
}

.landing-title svg {
  width: 35px;
  height: 35px;
}

/* category */
.category-header {
  color: var(--wood);
}

.category-item {
  min-height: 100vh;
}

.category-detail {
  color: var(--white);
}

.title-border {
  border-bottom: 1px solid var(--white);
}

/* footer */
.my-social svg {
  width: 30px;
  height: 30px;
}

.footer {
  background-color: var(--bg-footer);
  font-size: 1.1rem;
}

.copyright {
  color: var(--white);
  opacity: 0.75;
  font-size: 0.85rem;
  padding-bottom: 0.5rem;
}

/* scroll-top */
.scroll-top button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-color: var(--wood);
  border-radius: 50%;
  z-index: 2;
}

.scroll-top button svg {
  width: 27px;
  height: 27px;
  animation: upicon 3s ease-in-out infinite;
}

@keyframes upicon {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
